<div class="page-header">
    <h1>Receptek</h1>
</div>

<p>
    Bejelentkezés szükséges a receptek megtekintéséhez! <br />
    <button {{action "showModal" "login-modal" "login"}} class="btn btn-default">Bejelentkezés</button>
    <button {{action "showModal" "reg-modal" "reg"}} class="btn btn-default">Regisztráció</button>
</p>